sudo: false

# turn shallow clone off for sonar
git:
  depth: false

language: java

branches:
  only:
    - master

addons:
  sonarcloud:
    organization: "simplify4u"
    token:
      secure: PPOyVrtae4YS1aO7ZHS/YN3yy5Emg6MPsV6pr19MJ59yyN/3BKInoju0sR2z+uN6Lqgldica+cwakflND1HJk19N0xxtF78FTjkM1FeqtPgh/4ofhaGs7aair2wTBtoS+A5V+SbCpoIOpYuMtUCsbV7D5+WgRFyDggeExfQMpXs=

install:
    - mkdir -p ../utils
    - curl -Ls https://github.com/s4u/travis/archive/master.tar.gz |
        tar -zx --strip-components 2 -C ../utils travis-master/src

matrix:
  include:

    - jdk: openjdk8
      script:
        - ../utils/mvn-push.sh clean deploy sonar:sonar
        - ../utils/mvn-pr.sh   clean verify

    - jdk: openjdk11
      script:
        - ../utils/mvn-run.sh clean verify

cache:
  directories:
  - $HOME/.m2/repository

before_cache:
  - rm -rfv $HOME/.m2/repository/org/simplify4u/parent*

env:
  global:
  - secure: EozM9YwDvaoQnTFIKDWCa7K76amwpkAILBt2QQpHpl0DIgZvPqEQixEMeI4YXECh/sdrFRsJveS8QGJrJta4Uhni2pCh2VdxNDxNDY2arsqzXU1lS7s8x6I753Dh5VbdDHRLXAMxHnVQNnnbeUoDv7rdaPUBVQnaLKGxcG4KC1Q=
  - secure: D/0p02E8WkHlTeY8MAMYPVXqTE6HT6gWMTJ9hvEDpDpOgiZlGyVtNcZqrSAtMhAX1vFR+9C4qB+U1+Nc1qyRWFKFzcN4yySXPv5H0lBcp18bz8G69PZKU5B6KpGQBzwLHcKlMnFmNKvra9qohcrAz5jdMwM1VPUkGIFR8WHEHa4=
